* {
  margin: 0px;
  padding: 0px;
}
@font-face {
   font-family: 'open-sans';
   src:url('../font/opensans.ttf')
} 
html {
  height: 101%;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}
body {
  font-family: "open-sans",sans-serif;
  font-size: 16px;
  line-height: 26px;
  background: #E9E0D6;
  color: #777;
  margin: 0px auto;
min-width:1000px
}
#entire {
	width: 100%;
	margin: 0px auto;
	height: 100%;
}
hr {
margin-bottom: 20px;
color: #E9E0D6;
border-style: none;
height: 1px;
background-color: #E9E0D6;
}
.entire {
	position: absolute;
}
#topbar {
	width: 100%;
	height: 30px;
	display: inline-block;
	position: fixed;
	z-index:103;
		font-weight: 900;
}

#topbar a {
	color: #fff;
	font-size: 12px;
	line-height: 20px;
	margin-bottom: 0px;
	margin-left: 10px;
	font-weight: 900;
	text-transform: uppercase;
}
#topbar a:hover {
	color: #7FCDC8;
}

#page {
	width: 100%;
	height: ;
	margin: 0 auto;
	margin-top: 39px;
	position: absolute;
	bottom: 0;
	top: 0;
}
#projectpage {
	width: 100%;
	height: ;
	margin: 0 auto;
	margin-top: 41px;
	position: absolute;
	top: 0;
}
#pageinner {
	width: 98%;
	height: 99%;
	margin: 0 auto;
	background-color: #fff;
}
#pageinnerabout {
	width: 98%;
	height: 99%;
	margin: 0 auto;
	background-color: #fff;
}
#projectpageinner {
	margin: 0 auto;
	background-color: #FBF9F7;
	width: 98%;
	position: relative;
		margin-bottom: 10px;
}
#project {
	margin: 0 auto;
	background-color: #Fff;
	width: 100%;
}
.content.home {
width: 100%;
height: 100%;
}

article {
	padding-top: 20px;
	margin-bottom: 10px;
	display: block;
	padding-bottom: 20px;
}


#info {
	width: 300px;
	height: 300px;
	margin-left: 40px;
	padding-top: 40px;
	display: inline-block;
	padding-bottom:-40px;
}

/* /////// HOME PAGE PROJECTS ///////*/


#Project1 {
	width: 50%;
	height: 50%;
	float:left;
	background-color: #354458;
}
#overlay-Project1 {
	width: 49%;
	height: 49.5%;
	background-color: #0D1116;
	opacity:0;
	position: absolute;
	text-align:center;
	background-position: center center;
	background-image:url('/assets/images/open.png');
	background-repeat: no-repeat;
	-webkit-transition: opacity 1s linear;
	   -moz-transition: opacity 1s linear;
		-ms-transition: opacity 1s linear;
			transition: opacity 1s linear;
}
#overlay-Project1:hover {
	background-color: #0D1116;
	filter: alpha(opacity=100);
	opacity:0.7;
	text-align:center;
	cursor: pointer;
	background-position: center center;
	background-image:url('/assets/images/open.png');
	background-repeat: no-repeat;
	-webkit-transition: opacity 1s linear;
	   -moz-transition: opacity 1s linear;
		-ms-transition: opacity 1s linear;
			transition: opacity 1s linear;
}


#Project2 {
	background-color: #77C5F7;
	width: 50%;
	height: 50%;
	float:left;
}
#overlay-Project2 {
	width: 49%;
	height: 49.5%;
	background-color: #0071BC;
	opacity:0;
	position: absolute;
	text-align:center;
	background-position: center center;
	background-image:url('/assets/images/open.png');
	background-repeat: no-repeat;
	-webkit-transition: opacity 1s linear;
	   -moz-transition: opacity 1s linear;
		-ms-transition: opacity 1s linear;
			transition: opacity 1s linear;
}
#overlay-Project2:hover {
	background-color: #0071BC;
	filter: alpha(opacity=100);
	opacity:0.7;
	text-align:center;
	cursor: pointer;
	background-position: center center;
	background-image:url('/assets/images/open.png');
	background-repeat: no-repeat;
	-webkit-transition: opacity 1s linear;
	   -moz-transition: opacity 1s linear;
		-ms-transition: opacity 1s linear;
			transition: opacity 1s linear;
}


#Project3 {
	background-color: #EB7260;
	width: 50%;
	height: 100%;
	float:left;
}
#overlay-Project3 {
	width: 49%;
	height: 99%;
	background-color: #763930;
	opacity:0;
	position: absolute;
	text-align:center;
	background-position: center center;
	background-image:url('/assets/images/open.png');
	background-repeat: no-repeat;
	-webkit-transition: opacity 1s linear;
	   -moz-transition: opacity 1s linear;
		-ms-transition: opacity 1s linear;
			transition: opacity 1s linear;
}
#overlay-Project3:hover {
	background-color: #763930;
	filter: alpha(opacity=100);
	opacity:0.7;
	text-align:center;
	cursor: pointer;
	background-position: center center;
	background-image:url('/assets/images/open.png');
	background-repeat: no-repeat;
	-webkit-transition: opacity 1s linear;
	   -moz-transition: opacity 1s linear;
		-ms-transition: opacity 1s linear;
			transition: opacity 1s linear;
}




/* /////////////////////////*/


a {
  color: #222;
  text-decoration: none;
}
a,
a:hover,
a:active,
a:visited {
  outline: 0px;
}
a:hover {
  color: red;
}
img {
  outline: 0;
  border: 0;
}
h1 {
	font-size: 14px;
	line-height: 17px;
	color: #fff;
	margin-bottom: 20px;
	font-family: "open-sans",sans-serif;
	text-transform: uppercase;
}
h2 {
	font-size: 40px;
	font-weight: 900;
	color: white;
	line-height: 43px;
}
h3 {
  font-weight: normal;
  font-size: 20px;
  color: #222;
  margin-bottom: 21px;
}
h4 {
  color: red;
  font-weight: normal;
}
p {
  margin-bottom: 20px;
}
nav {
  overflow: hidden;
  padding: 0px 0;
}
nav li {
  list-style: none;
  margin-right: 20px;
  font-weight: bold;
  float: left;
}
nav li a.active {
  color: red;
}
nav.submenu {
  border-top: none;
  margin-bottom: 20px;
}
nav.submenu a {
  font-weight: normal;
}
section.content {
max-width: 600px;
margin: 0 auto;
margin-top: -8px;
}
section.content2 {
max-width: 600px;
margin: 0 auto;
padding-top: 90px;
}
section.content h1{
	font-size: 49px;
	font-weight: 900;
	color: #354458;
	line-height: 49px;
	text-transform: none;
	font-family: "open-sans",sans-serif;
	font-family: "brandon-grotesque",sans-serif;
	border-bottom: 1px solid #E9E0D6;
	padding-bottom: 30px;
}
footer {
	font-size: 13px;
	color: #E9E0D6;
	background-color: #fff;
	width: 98%;
	margin: auto;
	height: 40px;
	margin-bottom: 10px;
	padding-top: 10px;
	background-image:url('/assets/images/footer-foot.png');
	background-repeat: no-repeat;
	background-position: right top;
}
footer a {
  color: #E9E0D6;
}
footer a:hover {
  color: #AFA8A1;
}

h6 {
font-size: 17px;
text-align: center;
font-weight: 400;
color: #AFA8A1;
margin-left: 10%;
}
footer p {
  color: #E9E0D6;
  float:right;
  margin-right: 30px;
}
footer img {
float: left;
margin-left: 10px;
}


/* /////// EXTRA-PROJECT CSS ///////////////////////////*/

.extra {
font-size: 18px;
}


/* /////// FLIP TOP BAR ///////////////////////////*/

.share-wrap{
    margin: 0 auto;
    width: 100%;
    height: 52px;   
    position: relative;
    overflow: hidden;
    -webkit-perspective: 750;
       -moz-perspective: 750;
        -ms-perspective: 750;
            perspective: 750;

}
.slide-wrap{
    position: relative;
    height: 31px;
}

.slide{
    margin-left: auto;
	margin-right: auto;
    width: 95%;
    padding-left: 2%;
    height: 31px;
    position: fixed;
    top: 0px;
    -webkit-transition: all .50s ease;
       -moz-transition: all .50s ease;
        -ms-transition: all .50s ease;
            transition: all .50s ease;
    -webkit-transform-style: preserve-3d;
       -moz-transform-style: preserve-3d;
        -ms-transform-style: preserve-3d;
            transform-style: preserve-3d;
            transform-style: preserve-3d;
            
            
            
}

.slide:hover{
    -webkit-transform: rotateX(-90deg);
       -moz-transform: rotateX(-90deg);
        -ms-transform: rotateX(-90deg);
            transform: rotateX(-90deg);
}


.share{
    display: inline-block;
    background-color: #29ABA4; 
    width: 100%;
    height: 31px;
    text-align: left;
                font-family: "brandon-grotesque",sans-serif;
    color: #fff;
    line-height: 31px;
    -webkit-transform: translateZ(16px);
       -moz-transform: translateZ(16px);
        -ms-transform: translateZ(16px);
            transform: translateZ(16px);
    padding-left:1%;
}

.social{
    background-color: #1F807B; 
    width: 100%;
    height: 27px;
    padding: 5px 0px 0px 1%;
    -webkit-transform: rotateX(90deg) translateZ(47px);
       -moz-transform: rotateX(90deg) translateZ(47px);
        -ms-transform: rotateX(90deg) translateZ(47px);
            transform: rotateX(90deg) translateZ(47px);
}

a.about{
    font-family: "brandon-grotesque",sans-serif;
	font-size: 13px;
    color: #fff;
  	padding-top:5px;
  	padding-bottom:9px;
  	padding-right:10px;
    padding-left:10px;
    text-decoration:none;
  
}

a.contact{
            font-family: "brandon-grotesque",sans-serif;
	font-size: 13px;
    color: #fff;
  	text-decoration:none;
    padding-top:5px;
  	padding-bottom:9px;
  	padding-right:10px;
    padding-left:10px;
    text-decoration:none; 
}

/* //////////////////// FLIP TOP BAR END ///////////////////////////*/


/* //////////////////// BUTTONS////////////////////////////*/
/* ////////////////////////////////////////////////////////*/

.big-button-wrap {
    margin: 60px auto 20px auto;
	width:100%;
	height:70px;
	position:relative;
	-webkit-perspective:320;
	-moz-perspective:320;
	-ms-perspective:320;
	perspective:320;
}

.big-button {
	width:100%;
	height:100%;
  	margin-left:-5px;
	position:absolute;
	-moz-transition: 0.2s;
	-webkit-transition: 0.2s;
  	transition: 0.2s;
  	border-right: white 5px solid;
  	border-left:white 5px solid;
    cursor: pointer;
}

.big-button:hover {
margin-top: 5px;
-webkit-transform: translateZ(-2px);
	-moz-transform: translateZ(-2px);
	-ms-transform: translateZ(-2px);
		transform: translateZ(-2px);
}

.bbtn-top {
	background-color:#EB7260;
	height:70px;
	text-align:center;
	color:white;
	line-height: 65px;
}
.bbtn-top:hover {
	background-color:#EF8E80;
  	transition: background .25s ease-in-out;
  	-webkit-transition: background .25s ease-in-out;
   		-moz-transition: background .25s ease-in-out;
   		-ms-transition: background .25s ease-in-out;
}
.bbtn-top a {
	width: 100%;
	height: 100%;
	display: block;
}
.bbtn-top a:hover {
	color:white;
}

#bbtn-shadow {

}
.bbtn-shadow{
	position: relative;
	background-color: #E43F25;
	height: 7px;
	width: 70%;
	-webkit-transform: rotateX(-32deg) translateZ(110px);
	   -moz-transform: rotateX(-32deg) translateZ(110px);
	    -ms-transform: rotateX(-32deg) translateZ(110px);
	        transform: rotateX(-32deg) translateZ(110px);
	-webkit-transform-style: preserve-3d;
	-moz-transform-style: preserve-3d;
	-ms-transform-style: preserve-3d;
	transform-style: preserve-3d;
	margin: 0 0 0 15%;
	z-index: -1;
}
.shadow-off{
	position: relative;
	background-color: #E43F25;
	height: 7px;
	width: 70%;
	-webkit-transform: rotateX(-32deg) translateZ(110px);
	   -moz-transform: rotateX(-32deg) translateZ(110px);
	    -ms-transform: rotateX(-32deg) translateZ(110px);
	        transform: rotateX(-32deg) translateZ(110px);
	-webkit-transform-style: preserve-3d;
	   -moz-transform-style: preserve-3d;
	    -ms-transform-style: preserve-3d;
	        transform-style: preserve-3d;
	margin: 0 0 0 15%;
	z-index: -1;
}
.touch {
  padding: 10px;
  border-color: white;
  border: solid;
  border-width: 1px;
  margin-left: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
}

#jk-buttons {
	display: block;
	margin-bottom: 80px;
	margin-top: 10px;
	width: 100%;
	height: 70px;
	text-align: center;
}

.half-button-katy {
	color: white;
	font-size: 19px;
	display: block;
	height: 100%;
	width: 49%;
	line-height: 65px;
	background-color: #E0D1C4;
	float: left;
	-webkit-transition: background .25s ease-in-out;
	   -moz-transition: background .25s ease-in-out;
		-ms-transition: background .25s ease-in-out;
			transition: background .25s ease-in-out;
}

.half-button-jesper {
	color: white;
	font-size: 19px;
	display: block;
	height: 100%;
	width: 49%;
	line-height: 65px;
	background-color: #E0D1C4;
	float: left;
	margin-left:2%;
	-webkit-transition: background .25s ease-in-out;
	   -moz-transition: background .25s ease-in-out;
		-ms-transition: background .25s ease-in-out;
			transition: background .25s ease-in-out;
}

.half-button-katy:hover {
	background-color: #EB7260;
	color:white;
}
.half-button-jesper:hover {
	background-color: #77C5F7;
	color:white;
}

.half-button-katy:hover span {display:none}
.half-button-katy:hover:before {content:"How she thinks!"}

.half-button-jesper:hover span {display:none}
.half-button-jesper:hover:before {content:"How he thinks!"}

/* //////////////////// FEATURED IMAGE ////////////////////////////*/
/* ////////////////////////////////////////////////////-------////*/


#featured-image {
	width: 100%;
	display: inline-block;
	overflow: hidden;
	position: relative;
	text-align: center;
}

#featured-image img {
	width: 95%;
	margin: 0 auto;
}

#next {
	width: 2.5%;
	background-color: #FBF9F7;
	height: 100%;
	right: 0;
	position: absolute;
	z-index: 101;
}
#previous {
	width: 2.5%;
	background-color: #FBF9F7;
	display: inline-block;
	left: 0;
	position: absolute;
	height: 100%;
	z-index: 101;
}

.nextprev a {
	width: 100%;
	height: 100%;
	display: block;
}

#previous:hover {
	background-color: #FDC02B;
}
#next:hover {
	background-color: #FDC02B;
}

/* //////////////////// ABOUT PAGE ////////////////////////////*/
/* ////////////////////////////////////////////////////-------////*/

#katy {
	width: 50%;
	height: 97%;
	background-color: #EB7260;
	float:left;
	text-align: center;
}

#jesper {
	background-color: #51b6f5;
	width: 50%;
	height: 97%;
	float:left;
	text-align: center;
}

about {
	max-width: 50%;
	display: inline-block;
	color: white;
	text-align: left;
	margin-top: 8%;
	float: left;
}

#about-links {
width: 16%;
float: left;
margin-right: 0px;
display: inline-block;
margin-top: 161px;
text-align: left;
margin-left: 5%;
}

about a {
	color: white;
}
#jesper about a {
	color: #436F8B;
}
#jesper about a:hover {
	color: #E4F3FD;
}

#katy about a:hover {
	color: #F9D2CC;
}

#jesper #about-links a {
	color: #436F8B;
	font-weight:900;
}
#jesper #about-links a:hover {
	color: #E4F3FD;
}

#katy #about-links a{
	font-weight:900;
	color:white;
}

#katy #about-links a:hover {
	color: #F9D2CC;
}

#warning {
 	width:100%;
	height:3%;
	z-index: 150;
}
#warning h6 {
	margin-left:0px;
}

about h2 {
	font-size: 104px;
	line-height: 104px;
	letter-spacing: 0px;
	margin-bottom: 30px;
}
#jesper about h1{
  font-family: "brandon-grotesque",sans-serif;
  font-size: 20px;
  line-height: 29px;
  color: #5994B9;
  text-transform:none;
  font-weight:normal;
}
#katy about h1{
  font-family: "brandon-grotesque",sans-serif;
  font-size: 20px;
  line-height: 29px;
  color: #F3AAA0;
  text-transform:none;
  font-weight:normal;
}

#jesper .bbtn-top {
background-color: #92D1F9;
}
#katy .bbtn-top {
background-color: #EF8E80;
}
#jesper .bbtn-shadow {
background-color: #5994B9;
}
#katy .bbtn-shadow {
background-color: #B05648;
}
#katy .big-button {
border-right: #EB7260 5px solid;
border-left: #EB7260 5px solid;
}
#jesper .big-button {
border-right: #51b6f5 5px solid;
border-left: #51b6f5 5px solid;
}

#katy .recommend {
	color: white;
	font-size: 19px;
	display: block;
	height: 100%;
	width: 100%;
	line-height: 65px;
	background-color: #C96252;
	float: left;
	   	-webkit-transition: background .25s ease-in-out;
	   	   -moz-transition: background .25s ease-in-out;
	   		-ms-transition: background .25s ease-in-out;
	   			transition: background .25s ease-in-out;
	   text-align: center;
}
#katy .recommend:hover span {display:none}
#katy .recommend:hover:before {content:"Recommend her to a friend."}

#jesper .recommend {
	color: white;
	font-size: 19px;
	display: block;
	height: 100%;
	width: 100%;
	line-height: 65px;
	background-color: #67ACD7;
	float: left;
	   	-webkit-transition: background .25s ease-in-out;
	   	   -moz-transition: background .25s ease-in-out;
	   		-ms-transition: background .25s ease-in-out;
	   			transition: background .25s ease-in-out;
	   text-align: center;
}
#jesper .recommend:hover span {display:none}
#jesper .recommend:hover:before {content:"Recommend him to a friend."}


#jesper p {
margin-bottom: 14px;
line-height: 17px;
font-size: 15px;
}
#katy p {
margin-bottom: 14px;
line-height: 17px;
font-size: 15px;
}

#jesper .big-button-wrap {
margin: 20px auto 20px auto;
}

#katy .big-button-wrap {
margin: 20px auto 20px auto;
}

/* //////////////////// CONTACT FORM /////////////////////////////*/
/* ////////////////////////////////////////////////////-------////*/

fieldset {
border: none;
width: 100%;
height: 100%;
}
#contactform {
width: 100%;
height: 100%;
}

form {
width: 100%;
height: 100%;
}

.contactform-fieldone {
width: 100%;
height: 15%;
margin-bottom: 1%;
}
#contactform-name {
width: 99%;
height: 100%;
border: none;
font-size: 72px;
color: #354458;
  font-family: "brandon-grotesque",sans-serif;
  font-weight:900;
  padding-left: 1%;
  background-color: white;
}
.contactform-fieldtwo {
width: 100%;
height: 15%;
margin-bottom: 1%;
}
#contactform-email {
width: 99%;
height: 100%;
border: none;
background-color: white;
font-size: 72px;
color: #AFA8A1;
  font-family: "brandon-grotesque",sans-serif;
  font-weight:900;
  padding-left: 1%;
}
.contactform-fieldthree {
width: 100%;
height: 53%;
margin-bottom: 1%;
}
#contactform-text {
	width: 99%;
	height: 100%;
	border: none;
	background-color: white;
	font-size: 72px;
	color: #91BE4A;
	font-family: "brandon-grotesque",sans-serif;
	font-weight: 900;
	padding-left: 1%;
}
.contactform-label {
display: none;
}
#pageinnercontact {
	width: 98%;
	height: 99%;
	margin: 0 auto;
	background-color: #E9E0D6;
}

input[type="submit"], button {
	-webkit-box-align: center;
	text-align: center;
	cursor: default;
	color: white;
	padding: 2px 6px 3px;
	border: 0px outset buttonface;
	border-image: none;
	background-color: none;
	box-sizing: none;
	font-family: "brandon-grotesque",sans-serif;
	font-size:18px;
	font-weight:normal;
	width:100%;
	height:100%;
	 -webkit-appearance: none;
}
#pageinnercontact  h6 {
	margin-top: -35px;
	margin-left:0px;
}

/* all place holder texts */
::-webkit-input-placeholder { color:#E9E0D6; }
::-moz-placeholder { color:#E9E0D6; } /* firefox 19+ */
:-ms-input-placeholder { color:#E9E0D6; } /* ie */
input:-moz-placeholder { color:#E9E0D6; }


#pageinnercontact .bbtn-top {
background-color: #FDC02B;
}
#pageinnercontact .bbtn-top:hover {
background-color: #FED980;
}
#pageinnercontact .bbtn-shadow {
background-color: #BE9020;
}
#pageinnercontact .big-button {
border-right: #E9E0D6 5px solid;
border-left: #E9E0D6 5px solid;
}
#pageinnercontact .big-button-wrap {
margin: 0px auto 20px auto;
}

/* //////////////////// TOP BAR MOBILE ///////////////////////////////*/
/* ////////////////////////////////////////////////////-------////*/

#topbarmobile {
  background-color:#29ABA4;
  width: 98%;
  height: 31px;
  margin-top:0px;
  	color: #fff;
  font-weight:900;
  display:none;
}
#brand {
	background-color: #29ABA4;
	width: 28%;
	height: 31px;
	float: left;
	padding-left: 2%;
}
#menumobile {
	background-color: #1F807B;
	width: 68%;
	height: 31px;
	float: left;
	padding-left: 2%;
}
#menumobile a{
	color:white;
}
#menumobile a:hover{
	color:#29ABA4;
}
#topbarmobile a {
	color: #fff;
	font-size: 12px;
	line-height: 20px;
	margin-bottom: 0px;
	margin-left: 10px;
	font-weight: 900;
	text-transform: uppercase;
}
#topbarmobile a:hover {
	color: #7FCDC8;
}


/* //////////////////// FEED BUTTON ///////////////////////////////*/
/* ////////////////////////////////////////////////////-------////*/

section.content .feed-button-wrap img {
width: 100%;
margin-left: 0%;
}
.feed-button-wrap {
	width: 25px;
	height: 33px;
	position: relative;
	-webkit-perspective: 340;
	-moz-perspective: 340;
	-ms-perspective: 340;
	perspective: 340;
	background-image: url('/assets/images/feedback.png');
	background-repeat: no-repeat;
	margin-left: 29px;
}

.feed-button {
	width:25px;
	height:25px;
	position:absolute;
	-ms-transform: 0.2s;
	-moz-transition: 0.2s;
	-webkit-transition: 0.2s;
  	transition: 0.2s;
  cursor: pointer;
}

.feed-button:hover {
margin-top: 5px;
-webkit-transform: translateZ(-2px);
   -moz-transform: translateZ(-2px);
	-ms-transform: translateZ(-2px);
	    transform: translateZ(-2px);
}

.feedbbtn-top {
	background-color:#EB7260;
	height:25px;
	text-align:center;
	color:white;
	line-height: 25px;
  float:left;
}
.feedbbtn-top:hover {
	background-color:#EF8E80;
  transition: background .25s ease-in-out;
   -moz-transition: background .25s ease-in-out;
   -webkit-transition: background .25s ease-in-out;
    -ms-transition: background .25s ease-in-out;
}


/* //////////////////// PROJECT LAYOUT /////////////////////////////*/
/* ////////////////////////////////////////////////////-------////*/

section.content img {
width: 120%;
margin-left: -20%;
}
section.content #column1 img {
width: auto;
margin-left: 0px;
float:left;
margin-right:3px;
}


section.content iframe {
border-bottom: solid 9px #E9E0D6;
margin-bottom:10px;
}
#column2 {
width: 75%;
display: inline-block;
}
#column1 {
width: 20%;
margin-right: 5%;
float: left;
line-height: 25px;
}
.idea {
font-weight: 900;
}

#wtfpageinner {
background-color:#FFF;
margin: 0 auto;
	width: 98%;
	position: relative;
		height: 99%;
		text-align:center;
}
#wtfpageinner article {
width: 50%;
text-align: left;
margin: 0 auto;
padding-top: 20%;
}

#wtfpageinner h6 {
font-size: 17px;
text-align: center;
font-weight: 400;
color: #AFA8A1;
bottom: 0;
margin-bottom: 15px;
position: absolute;
text-align: center;
width: 50%;
margin-left: 23%;
}
#wtfpageinner h6 a{
color: #AFA8A1;
}
#wtfpageinner h6 a:hover{
color: #29ABA4;

}



/* //// SANTANDER SLIDEDS//*/

#first {
	margin-top: 15%;
	margin-bottom: 5%;
}
#first h2 {
	color: #EB7260;
	text-align: center;
	font-size: 60px;
	line-height: 65px;
	font-style:normal;
}
.panel h4 {
	text-align: center;
	font-style: italic;
	color: #777;
	max-width: 610px;
	margin: 0 auto;
}
#second {
	margin-top: 10%;
	margin-bottom: 10%;
	height:1000px;
}
#second #bigimage {
position: absolute;
z-index: 102;
}
#second #col-wrap {
	display:none;
}
.slides-wrap {
width: 1200px;
height: 900px;
margin: 0 auto;
}
.phone-wrap {
max-width: 254px;
width:24.9%;
margin: 0 auto;
}

#third {
	margin-top: 20%;
	margin-bottom: 5%;
}
#third h2 {
	color: #29ABA4;
	text-align: center;
	font-size: 60px;
	line-height: 65px;
	font-style:normal;
}
#four {
	margin-top: 5%;
	margin-bottom: 20%;
		height: 700px;
}
#fifth {
	margin-top: 20%;
	margin-bottom: 5%;
}
#fifth h2 {
	color: #99CC33;
	text-align: center;
	font-size: 60px;
	line-height: 65px;
	font-style:normal;
}
#sixth {
	margin-top: 5%;
	margin-bottom: 10%;
	height: 900px;
}
#sixth #bigimage{
	float:right;
	margin-top: -90px;
	margin-right: 2%;
}
#sixth #col1{
	float:left;
}
#sixth #col2{
	float:left;
	margin-top: 120px;
	text-align: center;
}
#sixth #col2 img{
	margin-bottom: 30px;
	margin-top: 30px;
}

#sixth #col-wrap {
	width:auto;
	margin: auto;
	height: 0px;
}
	/* ////	
	/////*/
	
#caption {
width: 350px;
margin-left: 15%;
}

#bigimage p {
text-align: center;
}
#seven {
	margin-top: 10%;
	margin-bottom: 5%;
}
#seven h2 {
	color: #EB7260;
	text-align: center;
	font-size: 60px;
	line-height: 65px;
	font-style:normal;
}
#eighth h4 {
	max-width: 100%;
	margin: 0 auto;
}
#ninth {
margin-top: 15%;
}
#ninth #bigimage img {
max-width: 100%;
}
.extra img {
max-width: 100%;
}
#ten {
	margin-top: 5%;
}
#ten h2 {
	color: #66CCFF;
	text-align: center;
	font-size: 60px;
	line-height: 65px;
	font-style:normal;
}
#eleventh {
	margin-top: 5%;
	margin-bottom: 20%;
	height: 700px;
}
#eleventh p{
	text-align:left;
}
#eleventh #bigimage{
	float:left;
	position: absolute;
}
#eleventh #col3 {
float: right;
margin-right: -8%;
margin-top: 20px;
max-width: 300px;
width: 30%;
}
#eleventh #col3 img{
max-width: 300px;
width: 100%;
}
#eleventh #col-wrap {
	width:auto;
	margin: auto;
	height: 0px;
}
element.style {
}
#twelfth {
	background-image: url('/content/01-home/03-santander/12-slide12/01.png');
	background-repeat: no-repeat;
	background-position: top;
	background-position-y: -100px;
	overflow: visible;
	margin-top: -290px;
	height: auto;
}
#twelfth h2 {
	color: #66CCFF;
	text-align: center;
	font-size: 60px;
	line-height: 65px;
	font-style: normal;
	padding-top: 400px;
	padding-left: 200px;
}
#download {
	text-align: center;
}
#twelfth h4 {
	padding-left: 200px;
}

#twelfth #bigimage img{
	margin-top:-90px;
}
#twelfth #bigimage {
margin: 0 auto;
text-align: center;
width: 100%;
margin-top: 100px;
}

#twelfth #col3 {
margin-top: 100px;
}
#twelfth #col1 img {
margin-bottom: -25px;
}
#thirteenth {
margin-top: -180px;
}
#thirteenth h2 {
	color: #FFCC33;
	text-align: center;
	font-size: 60px;
	line-height: 65px;
	font-style:normal;
	margin-top: 200px;
	margin-bottom: 200px;
}
#thirteenth #col1 {
width: 30%;
margin-right: 5%;
float: left;
margin-top: -90px;
}
#fourteenth {
height: 400px;
margin-top: 5%;
margin-bottom: 10%;
}
#fifteen #bigimage {
	float:right;
	margin-top: 0px;
	margin-right: 2%;
}
#fifteen {
margin-top: 10%;
margin-bottom: 10%;
height: 300px;
}
#sixteen {
margin-bottom: 20%;
}
#seventeenth h4 {
max-width: 1000px;
}
#eighteenth {
	background-image: url('/content/01-home/03-santander/18-slide18/02.png');
	background-repeat: no-repeat;
	background-position: top;
	background-position-y: -30px;
	}
	
#eighteenth h2 {
	color: #99CC33;
	text-align: center;
	font-size: 60px;
	line-height: 65px;
	font-style:normal;
}
#eighteenth #bigimage {
margin-top: 90px;
}
#col-wrap {
	max-width:1000px;
	margin: 0 auto;
	height: 200px;
}

#col1 {
	width:30%;
	max-width:300px;
	margin-right:5%;
	float:left;
}
#col2 {
	width:30%;
		max-width:300px;
	margin-right:5%;
	float:left;
}
#col3 {
	width:30%;
		max-width:300px;
	float:left;
	clear:right;
}


/* ////////////////////////////////////////////*/
/* SLIDESHOWS CSS EXTRA */
/* ////////////////////////////////////////////*/



 /* Prevent the slideshow from flashing on load */
    #slides {
      display: none
    }

    /* Center the slideshow */
    .container {
      margin: 0 auto;
      position: absolute;
    }

    /* Show active item in the pagination */
    .slidesjs-pagination .active {
      color:red;
    }

    /* SLIDESHOW MEDIA - Media quires for a responsive layout */

    /* SLIDESHOW MEDIA - For tablets & smart phones */
    
    @media (max-width: 767px) {
      .container {
        width: auto;
        position: absolute;
      }
	.container2 {
        width: auto;
        position: absolute;
      }
      .containerPhone {
        width: auto;
        position: absolute;
      }
      #caption {
		width: 90%;
		margin-left: 5%;
		}
		#twelfth h4 {
		padding-left: 0px !important;
		}
		#twelfth h2 {
		font-size: 50px;
		padding-left: 0px !important;
		padding-top: 500px;
		padding-top: 5;
		}
		#eleventh #col3 {
		float: none;
		margin-right: -8%;
		position: absolute;
		margin-top: 300px;
		width: 100%;
		}
    }

    /* SLIDESHOW MEDIA - For smartphones */
    
    @media (max-width: 480px) {
      .container {
        width: auto;
        position: absolute;
      }
    .container2 {
        width: auto;
        position: absolute;
      }
      .containerPhone {
        width: auto;
        position: absolute;
      }
    }

    /* SLIDESHOW MEDIA - For smaller displays like laptops */
    
    @media (max-device-width: 768px) and (orientation: portrait) { 
	.container {
	width: 63% !important;
	position: absolute !important;
	margin-top: 38px !important;
	margin-left: 25.5% !important;
	height: auto;
	}
	#seven {
	margin-top: 40%;
	margin-bottom: 5%;
	}
	#seven h2 {
	font-size: 50px;
	}
	.container2 {
	width: 73.5% !important;
	position: absolute !important;
	margin-top: 21px !important;
	margin-left: 0;
	}
	#eleventh #col3 {
	float: none;
	margin-right: -8%;
	margin-top: 700px;
	position: absolute;
	}
	.slides-wrap {
	width: 100%;
	height: 600px;
	margin: 0 auto;
	}
	.extra {
	width: 93%;
	margin: 0 auto;
	}
	.containerPhone {
	}
	.phone-wrap {
	width: 26%;
	margin: 0 auto;
	}
}
    
    /* SLIDESHOW MEDIA - LANDSCAPE IPAD DISPLAY */  

@media (max-device-width: 1024px) and (orientation: landscape) { 
	.container {
	width: 64%;
	position: absolute;
	margin-top: 121px !important;
	margin-left: 26%;
	height: auto;
	}
	.container2 {
	width: 73.5% !important;
	position: absolute !important;
	margin-top: 65px !important;
	margin-left: 0;
	}
	#eleventh #bigimage {
	float: left;
	position: absolute;
	margin-left: 0px;
	width: 80%;
	}
	#eleventh #col3 {
	float: none;
	margin-right: -8%;
	margin-top: 750px;
	position: absolute;
	}
	.slides-wrap {
	width: 100%;
	height: 800px;
	margin: 0 auto;
	}
	.extra {
	width: 93%;
	margin: 0 auto;
	}
	.extra h2 {
	font-size: 50px;
	}
	#seven {
	margin-top: 40%;
	margin-bottom: 5%;
	}
	#twelfth h2 {
	padding-top: 600px;
	}
	#twelfth {
	margin-top: 0px;
	}
	.containerPhone {
	}
	.phone-wrap {
	width: 26%;
	margin: 0 auto;
	}
	#topbarmobile {
background-color: #29ABA4;
width: 98%;
height: 31px;
color: #fff;
font-weight: 900;
display: block !important;
position: relative;
margin: 0 auto;
}
}


    @media (min-width: 1280px) {
	.container {
	width: 788px;
	position: absolute;
	margin-top: 152px;
	margin-left: 328px;
	height: auto;
	}
	.container2 {
	width: 963px;
	position: absolute;
	margin-top: 85px;
	}
	#four #col-wrap {
	margin: 0 auto;
	height: 700px;
	margin-top: -536px;
	}
    }

/* SLIDESHOW MEDIA - Under 1280 Width Laptop screen */ 
@media screen and (max-width: 1280px) { 
	.container {
	width: 63%;
	position: absolute;
	margin-top: 12%;
	margin-left: 25.5%;
	height: auto;
	}
	#second #caption {
	margin-top: 10%;
	}
	#eleventh #bigimage {
	float: left;
	position: absolute;
	width: 76.6%;
	}
	.container2 {
	width: 73.5%;
	position: absolute;
	margin-top: 6.4%;
	height: auto;
	}
	#eleventh #col3 {
	float: none;
	margin-right: -8%;
	position: absolute;
	margin-top: 900px;
	}
	#twelfth h2 {
	font-size: 50px;
	padding-left: 250px;
	}
	#twelfth h4 {
	padding-left: 280px;
	}
	#twelfth #bigimage {
	margin-top: 400px;
	}
	.slides-wrap {
	height: 750px;
	width:100%;
	}
	#seven {
	margin-top: 30%;
	margin-bottom: 5%;
	}
	.extra {
	font-size: 18px;
	max-width: 90%;
	margin: 0 auto;
	}
	.extra img{
	max-width: 100%;
	}
	#four #col-wrap {
	max-width: 100%;
	margin: 0 auto;
	height: 700px;
	margin-top: -53.5%;
	}
	#four #caption {
	display:none;
	width:0px;
	visibility: hidden;
	}
	#four {
	margin-top: 12%;
	margin-bottom: 20%;
	height: 400px;
	display: inline-block;
	}
}


.slidesjs-stop.slidesjs-navigation {
display: none !important;
}
.slidesjs-play.slidesjs-navigation {
display: none !important;
}


/* ///-------------------------///////*/
/* END OF - SLIDESHOWS CSS EXTRA 22.491 */
/* ///-------------------------///////*/


.addthis_toolbox.addthis_default_style iframe{
		border-bottom: none;
}


/* //// RESPONSIVE VIDEO ////*/

.video-container {
	position: relative;
	padding-bottom: 56.24%;
	height: 0;
	overflow: hidden;
	border-bottom: solid 9px #E9E0D6;
	margin-bottom:10px;
}

.video-container iframe,  
.video-container object,  
.video-container embed {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}


/* //////////////// ADD THIS BUTTON ////////////*/
/* ////////////////////////////////////////////*/


section.content .add-button-wrap img {
width: 100%;
margin-left: 0%;
}
.add-button-wrap {
	width:25px;
	height:33px;
	position:relative;
	-webkit-perspective:340;
	-moz-perspective:340;
	-ms-perspective:340;
	perspective:340;
	background-image:url('/assets/images/addthis-back.png');
	background-repeat: no-repeat;
	float: left;
}

.add-button {
	width:25px;
	height:25px;
	position:absolute;
	-ms-transform: 0.2s;
	-moz-transition: 0.2s;
	-webkit-transition: 0.2s;
  	transition: 0.2s;
  cursor: pointer;
}

.add-button:hover {
margin-top: 5px;
-webkit-transform: translateZ(-2px);
   -moz-transform: translateZ(-2px);
	-ms-transform: translateZ(-2px);
	    transform: translateZ(-2px);
}

.addbbtn-top {
	background-color:#EB7260;
	height:25px;
	text-align:center;
	color:white;
	line-height: 25px;
  float:left;
}
.addbbtn-top:hover {
	background-color:#EF8E80;
  transition: background .25s ease-in-out;
   -moz-transition: background .25s ease-in-out;
   -webkit-transition: background .25s ease-in-out;
    -ms-transition: background .25s ease-in-out;
}


/* ///////////////////////////////////MEDIA///////////////////////////////////////*/

/* //// MEDIA Q - 1600 ////*/

@media screen and (max-width: 1608px) { 

about {
	max-width: 60%;
}
about a{letter-spacing: -0.5px;}
}

/* //// MEDIA Q - 1400 ////*/

@media screen and (max-width: 1400px) { 

about {
	max-width: 60%;
	margin-top: 6%;
}
about a{letter-spacing: -0.5px;}
}

/* //// MEDIA Q - 1024 ////*/

@media screen and (max-width: 1024px) { 

about {
	max-width:70%;
}
about a{letter-spacing: -0.5px;}
#wtfpageinner article {
padding-top: 10%;
}
}

/* //// MEDIA Q - 875 ////*/

@media screen and (max-width: 875px) { 

#about-links {
margin-top: 10px;
width:60%;
margin-left: 10%;
}
about {
float:none;
max-width:80%;
}
#Project1 {
	width:50%;
	height: 50%;
	float:left;
	background-color: #354458;
}
#overlay-Project1 {
	width: 48%;
	height: 49.5%;
	background-color: #0D1116;
	opacity:0;
	position: absolute;
	text-align:center;
	background-position: center center;
	background-image:url('/assets/images/open.png');
	background-repeat: no-repeat;
	-webkit-transition: opacity 1s linear;
	   -moz-transition: opacity 1s linear;
		-ms-transition: opacity 1s linear;
			transition: opacity 1s linear;
}
#Project2 {
	background-color: #77C5F7;
	width: 50%;
	height: 50%;
	float:left;
}
#overlay-Project2 {
	width: 48%;
	height: 49.5%;
	background-color: #0071BC;
	opacity:0;
	position: absolute;
	text-align:center;
	background-position: center center;
	background-image:url('/assets/images/open.png');
	background-repeat: no-repeat;
	-webkit-transition: opacity 1s linear;
	   -moz-transition: opacity 1s linear;
		-ms-transition: opacity 1s linear;
			transition: opacity 1s linear;
}
#Project3 {
	background-color: #EB7260;
	width: 100%;
	height: 50%;
	float:left;
}
#overlay-Project3 {
	width: 98%;
	height: 49.5%;
	background-color: #763930;
	opacity:0;
	position: absolute;
	text-align:center;
	background-position: center center;
	background-image:url('/assets/images/open.png');
	background-repeat: no-repeat;
	-webkit-transition: opacity 1s linear;
	   -moz-transition: opacity 1s linear;
		-ms-transition: opacity 1s linear;
			transition: opacity 1s linear;
}
}



/* //// MEDIA Q - 744 ////*/

@media screen and (max-width: 744px) { 

section.content {
width: 80%;
}
section.content iframe {
width: 100%;
}
.bbtn-top a {
font-size: 13px;
}
section.content .touch {
display:none;
}
section.content img {
width: 100%;
margin-left: 0%;
}
#column1 {
width:100%;
}
#column2 {
width:100%;
}
#about-links {
margin-top: 10px;
width:60%;
margin-left: 5%;
}
about {
float:none;
max-width:90%;
margin-bottom: 20px;
}
#katy {
	width: 100%;
	height: 50%;
	background-color: #EB7260;
	float:left;
	text-align: center;
}

#jesper {
	background-color: #51b6f5;
	width: 100%;
	height: 50%;
	float:left;
	text-align: center;
}
#pageinnerabout {
	height:auto;
	}
}



/* //// MEDIA Q - IPAD LANDSCAPE ////*/


@media (max-device-width: 1024px) and (orientation: landscape) { 

about {
	max-width:70%;
}
about a{letter-spacing: -0.5px;}
#wtfpageinner article {
padding-top: 10%;
}
#topbarmobile {
background-color: #29ABA4;
width: 98%;
height: 31px;
color: #fff;
font-weight: 900;
display: block !important;
position: relative;
margin: 0 auto;
}
#topbar {
  display:none;
}
}

/* //// MEDIA Q - IPAD PORTRAIT ////*/

@media (max-device-width: 768px) and (orientation: portrait) { 

about {
	max-width: 60%;
}
about a{letter-spacing: -0.5px;}
#topbarmobile {
background-color: #29ABA4;
width: 98%;
height: 31px;
color: #fff;
font-weight: 900;
display: block !important;
position: relative;
margin: 0 auto;
}
#topbar {
  display:none;
}
section.content {
width: 80%;
}
section.content iframe {
width: 100%;
}
section.content img {
width: 100%;
margin-left: 0%;
}
#column1 {
width:100%;
}
#column2 {
width:100%;
}
#about-links {
margin-top: 10px;
width:60%;
margin-left: 5%;
}
about {
float:none;
max-width:90%;
margin-bottom: 20px;
}
#Project1 {
	width:50%;
	height: 50%;
	float:left;
	background-color: #354458;
}
#overlay-Project1 {
	width: 48%;
	height: 49.5%;
	background-color: #0D1116;
	opacity:0;
	position: absolute;
	text-align:center;
	background-position: center center;
	background-image:url('/assets/images/open.png');
	background-repeat: no-repeat;
	-webkit-transition: opacity 1s linear;
	   -moz-transition: opacity 1s linear;
		-ms-transition: opacity 1s linear;
			transition: opacity 1s linear;
}
#Project2 {
	background-color: #77C5F7;
	width: 50%;
	height: 50%;
	float:left;
}
#overlay-Project2 {
	width: 48%;
	height: 49.5%;
	background-color: #0071BC;
	opacity:0;
	position: absolute;
	text-align:center;
	background-position: center center;
	background-image:url('/assets/images/open.png');
	background-repeat: no-repeat;
	-webkit-transition: opacity 1s linear;
	   -moz-transition: opacity 1s linear;
		-ms-transition: opacity 1s linear;
			transition: opacity 1s linear;
}
#Project3 {
	background-color: #EB7260;
	width: 100%;
	height: 50%;
	float:left;
}
#overlay-Project3 {
	width: 98%;
	height: 49.5%;
	background-color: #763930;
	opacity:0;
	position: absolute;
	text-align:center;
	background-position: center center;
	background-image:url('/assets/images/open.png');
	background-repeat: no-repeat;
	-webkit-transition: opacity 1s linear;
	   -moz-transition: opacity 1s linear;
		-ms-transition: opacity 1s linear;
			transition: opacity 1s linear;
}
}


/* //// MEDIA IPHONE 3 WIDTH //*/

@media screen and (device-width: 320px) and (device-height: 480px) and (-webkit-device-pixel-ratio: 1){
about {
	max-width: 60%;
}
about a{letter-spacing: -0.5px;}
#topbarmobile {
background-color: #29ABA4;
width: 100%;
height: 31px;
color: #fff;
font-weight: 900;
display: block !important;
position: relative;
margin: 0 auto;
}
#topbar {
  display:none;
}
section.content {
width: 80%;
}
section.content iframe {
width: 100%;
}
.bbtn-top a {
font-size: 13px;
}
section.content .touch {
display:none;
}
section.content img {
width: 100%;
margin-left: 0%;
}
#column1 {
width:100%;
}
#column2 {
width:100%;
}
#about-links {
margin-top: 10px;
width:60%;
margin-left: 5%;
}
about {
float:none;
max-width:90%;
margin-bottom: 20px;
}
#katy {
	width: 100%;
	height: 50%;
	background-color: #EB7260;
	float:left;
	text-align: center;
}
#jesper {
	background-color: #51b6f5;
	width: 100%;
	height: 50%;
	float:left;
	text-align: center;
}
#pageinnerabout {
	height:auto;
	width: 102%;
	}
#pageinner {
	height:auto;
	width:100%;
	}
#page {position:static; margin-top: 65px; }
#brand {
	background-color: #29ABA4;
width: 100%;
height: 41px;
float: ;
padding-top: 10px;
}
#menumobile {
	background-color: #1F807B;
	width: 100%;
	height: auto;
	float: ;
	padding-left: 2%;
}
#entire{ width:100%}
#Project2 {
width: 102%;
}
#Project1 {
width: 102%;
}
#previous { display:none;}
#next { display:none;}
#projectpage {
margin-top: 65px;
position:static;
}
#featured-image img {
width: 100%;
}
#overlay-Project1 {
	display: none;
}
#overlay-Project2 {
	display: none;
}
#Project3 {
	width: 102%;
}
#overlay-Project3 {
	display:none;
}
#projectpageinner {
width: 100%;
}
#project {
width: 102%;
}
#info { 
width:80% }
.logo { 
margin-left:12px;}
#pageinnercontact {
width: 100%;
}
#contactform-name {
font-size: 40px;}
#contactform-email {
font-size: 40px;}
#contactform-text {
font-size: 40px;}
#wtfpageinner { 
width:102%;}
#wtfpageinner article {
width: 80%;
height: 700px;
}
}

/* //// MEDIA IPHONE 4 WIDTH //*/

@media only screen and (max-device-width: 480px) {
about {
	max-width: 60%;
}
about a{letter-spacing: -0.5px;}
#topbarmobile {
background-color: #29ABA4;
width: 100%;
height: 31px;
color: #fff;
font-weight: 900;
display: block !important;
position: relative;
margin: 0 auto;
}
#topbar {
  display:none;
}
section.content {
width: 80%;
}
section.content iframe {
width: 100%;
}
.bbtn-top a {
font-size: 13px;
}
section.content .touch {
display:none;
}
section.content img {
width: 100%;
margin-left: 0%;
}
#column1 {
width:100%;
}
#column2 {
width:100%;
}
#about-links {
margin-top: 10px;
width:60%;
margin-left: 5%;
}
about {
float:none;
max-width:90%;
margin-bottom: 20px;
}
#katy {
	width: 100%;
	height: 50%;
	background-color: #EB7260;
	float:left;
	text-align: center;
}
#jesper {
	background-color: #51b6f5;
	width: 100%;
	height: 50%;
	float:left;
	text-align: center;
}
#pageinnerabout {
	height:auto;
	width: 102%;
	}
#pageinner {
	height:auto;
	width:100%;
	}
#page {position:static; margin-top: 65px; }
#brand {
	background-color: #29ABA4;
width: 100%;
height: 41px;
float: ;
padding-top: 10px;
}
#menumobile {
	background-color: #1F807B;
	width: 100%;
	height: auto;
	float: ;
	padding-left: 2%;
}
#entire{ width:100%}
#Project2 {
width: 102%;
}
#Project1 {
width: 102%;
}
#previous { display:none;}
#next { display:none;}
#projectpage {
margin-top: 65px;
position:static;
}
#featured-image img {
width: 100%;
}
#overlay-Project1 {
	display: none;
}
#overlay-Project2 {
	display: none;
}
#Project3 {
	width: 102%;
}
#overlay-Project3 {
	display:none;
}
#projectpageinner {
width: 100%;
}
#project {
width: 102%;
}
#info { 
width:80% }
.logo { 
margin-left:12px;}
#pageinnercontact {
width: 100%;
}
#contactform-name {
font-size: 40px;}
#contactform-email {
font-size: 40px;}
#contactform-text {
font-size: 40px;}
#wtfpageinner { 
width:102%;}
#wtfpageinner article {
width: 80%;
height: 700px;
}
}

/* //// MEDIA IPHONE 5 WIDTH //*/

@media screen and (device-aspect-ratio: 40/71){
about {
	max-width: 60%;
}
about a{letter-spacing: -0.5px;}
#topbarmobile {
background-color: #29ABA4;
width: 100%;
height: 31px;
color: #fff;
font-weight: 900;
display: block !important;
position: relative;
margin: 0 auto;
}
#topbar {
  display:none;
}
section.content {
width: 80%;
}
section.content iframe {
width: 100%;
}
.bbtn-top a {
font-size: 13px;
}
section.content .touch {
display:none;
}
section.content img {
width: 100%;
margin-left: 0%;
}
#column1 {
width:100%;
}
#column2 {
width:100%;
}
#about-links {
margin-top: 10px;
width:60%;
margin-left: 5%;
}
about {
float:none;
max-width:90%;
margin-bottom: 20px;
}
#katy {
	width: 100%;
	height: 50%;
	background-color: #EB7260;
	float:left;
	text-align: center;
}
#jesper {
	background-color: #51b6f5;
	width: 100%;
	height: 50%;
	float:left;
	text-align: center;
}
#pageinnerabout {
	height:auto;
	width: 102%;
	}
#pageinner {
	height:auto;
	width:100%;
	}
#page {position:static; margin-top: 65px; }
#brand {
	background-color: #29ABA4;
width: 100%;
height: 41px;
float: ;
padding-top: 10px;
}
#menumobile {
	background-color: #1F807B;
	width: 100%;
	height: auto;
	float: ;
	padding-left: 2%;
}
#entire{ width:100%}
#Project2 {
width: 102%;
}
#Project1 {
width: 102%;
}
#previous { display:none;}
#next { display:none;}
#projectpage {
margin-top: 65px;
position:static;
}
#featured-image img {
width: 100%;
}
#overlay-Project1 {
	display: none;
}
#overlay-Project2 {
	display: none;
}
#Project3 {
	width: 102%;
}
#overlay-Project3 {
	display:none;
}
#projectpageinner {
width: 100%;
}
#project {
width: 102%;
}
#info { 
width:80% }
.logo { 
margin-left:12px;}
#pageinnercontact {
width: 100%;
}
#contactform-name {
font-size: 40px;}
#contactform-email {
font-size: 40px;}
#contactform-text {
font-size: 40px;}
#wtfpageinner { 
width:102%;}
#wtfpageinner article {
width: 80%;
height: 700px;
}
}


