/*全局定义开始*/
* {
  margin: 0px;
  padding: 0px;
}
@font-face {
   font-family: 'open-sans';
   src:url('../fonts/opensans.ttf')
} 
body{
	color: #fff;
	font-size: 16px;
	background: #f0f2f5;
	font-family: "open-sans",sans-serif;
}
div{
	font-family: "open-sans",sans-serif;
}
h1,h2,a{
	color: #fff;
}
.clear{clear:left;}
/*全局定义结束*/

/*横向导航开始*/
#logo{
	width: 100%;
	height: 40px;
	margin: 0 auto;
	line-height: 40px;
	background-color: #2a3b4c;
}
#logo h1{
	font-size: 25px; 
	width: 15%;
	height: 40px;
	background-color: #33485c;
	text-align: center;
	font-weight: bold;
	float: left;
}
.logotz{
	width: 23px;
	height: 23px;
	float: left;
	margin: 10px 0 0 10px;
	line-height: 40px;
	opacity: 0.75;
	border-radius: 50px;
}
.admin{
	float: right;
	width: 80px;
	height: 40px;
	font-size: 14px;
	margin-right: 55px;
	position: relative;
}
.admin:hover{
	cursor: pointer;
	background-color: #495866;
}
.adminmenu{
	position: absolute;
	width: 80px;
	height: 122px;
	display: none;
	overflow: hidden;
	background-color: #fff;
	box-shadow: 0 0 3px 1px #495866;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
}
.adminmenu a{
	text-decoration: none;
	color: #495866;
	width: 80px;
	height: 30px;
	display: block;
	line-height: 30px;
	background-color:#f0f2f5;}
.adminmenu a:hover{background-color:#e74c3c;color: #fff; }
.adminmenu li{
	list-style: none;
	width: 80px;
	height: 30px;
	border-bottom: 1px solid #fff;
	text-align: center;}
form{
	float: left;
	height: 40px;
	padding: 0 5px 0 5px;
	background-color: #495866;
}
.search-text{
	float: left;
	border: none;
	color: #fff;
	height: 40px;
	line-height: 40px;
	outline: none;
	font-family: "open-sans",sans-serif;
	background-color: transparent;
}
.search-button{
	color: #fff;
	border: none;
	height: 40px;
	outline: none;
	line-height: 40px;
	background-color: transparent;
	float: left;
	cursor: pointer;
}
.bar{
	width: 40px;
	height: 40px;
	float: left;
}
.ibar{margin-left: 10px;}
/*横向导航结束*/

/*纵向导航开始*/
.leftmenu{
	width: 15%;
	height: 600px;
	float: left;
	margin-right: 5px;
	background-color: #33485c;
}
.leftmenu ul{margin-top:50px; list-style: none;}
.leftmenu ul li{
	width: 100%;
	height: 45px;
	font-size: 15px;
	line-height: 45px;
	letter-spacing: 1.5px;
	font-weight: normal;
	border-bottom: 1px dashed #2a3b4c;
	text-align:left;
}
.leftmenu a,.leftmenu a:hover{
	width: 100%;
	height: 45px;
	display: block;
	text-decoration: none;
	line-height: 45px;
	cursor: pointer;
}
.leftmenu a:hover{
	color:#33485c;
	background-color: #e74c3c;
}
.itz{
	margin-top: 16px;
    float: right;
	display: inline-block;
}

/*纵向导航结束*/

/*内容开始*/
.ico{
	width: 98%;
	margin: 0 auto;
	margin-top: -3px;
}
.i1{
	width: 85.33%;
	height: 273px;
	float: left;
	background-color: #34bda1;
}
.i1:hover{
	background-color: #5cb85c;
}
#content{
	width: 98%;
	height: 320px;
	margin: 0 auto;
	margin-top: 5px;
}
#content h1,.ico h1 {
	font-size: 14px;
	line-height: 17px;
	margin-top: 5px;
	margin-bottom: 20px;
	font-weight: normal;
	text-transform: uppercase;
	margin-left: 10px;
	letter-spacing: 1px;
}
#content h2,.ico h2{
	font-size: 23px;
	float: left;
	font-weight: normal;
	line-height: 43px;
	margin-left: 60px;
	letter-spacing: 1px;
}
.c1{
	width: 45%;
	height: 312px;
	float: left;
	background-color: rgba(83, 111, 13, 0.71);
}
.c2{
	background-color: #77C5F7;
}

.c3{
	background-color: #354458;
}
.c2,.c3{
	float: right;
	width: 39.8%;
	height: 156px;
	opacity:1;
	text-decoration: none;
}
.c2:hover,.c3:hover{
	opacity:0.7;
	cursor: pointer;
	filter: alpha(opacity=100);
	-webkit-transition: opacity 1s linear;
	   -moz-transition: opacity 1s linear;
		-ms-transition: opacity 1s linear;
			transition: opacity 1s linear;
}
/*内容结束*/



/*尾部开始*/
.foot{
	width: 100%;
	height: 31px;
	margin: 0 auto;
	line-height: 31px;
	float: left;
	font-weight: normal;
	text-align: right;
	background-color: #2a3b4c;
}
.foot p{
	margin-right: 10px;
}
/*尾部结束*/